.first-exrecisescomp {
    display: grid;
    align-items: flex-start;
    position: relative;
    margin: 25px auto 0;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px; /* Adjust the gap between items */
    justify-content: center;
}
.go-back-button {
  background-color: red;
  cursor: pointer;
}

.go-back-button:hover {
  background-color: darkred;
}

.exercise-item {
    text-align: center;
}

.exercise-item h2 {
    margin-top: 0;
}
.tutorial-container {
    text-align: center;
  }
  
  .video-container {
    margin: 0 auto;
  }
  
  .youtube-video {
    display: block;
    margin: 0 auto;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adjust as needed */
  }
  
  .buttons-container .btn {
    width: 150px; /* Adjust width as needed */
  }

.exercise-item img {
    width: 50%; /* Set image width to 100% of container */
    height: auto;
    max-width: 100%; /* Ensure images don't exceed their container's width */
    max-height: 500px; /* Limit maximum height of images */
    object-fit: cover; /* Maintain aspect ratio and fill container */
    border-radius: 9px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 180px;
    /*background-color: #ff0000; /* Change button background color to red */
    color: #fff; /* Change button text color to white */
}

.btn:hover {
    background-color: #b30000; /* Darken button background color on hover */
}

.btn-go-back {
  background-color: #ff0000; /* Change button background color to red */
}

.btn-go-back:hover {
  background-color: #b30000; /* Darken button background color on hover */
}
