.container {
  max-width: 450px;
  margin: 0 auto;
  margin-top: 200px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 380px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 380px;
  margin-bottom: 20px;
}
.button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 380px;
  margin-bottom: 20px;
}
.btn-primary {
  background-color: #007bff; /* Change button background color to blue */
  color: #fff; /* Set text color to white */
  gap: 20px;
  margin-bottom: 20px;

}

.btn-primary:hover {
  background-color: #0056b3;
}
.wp_bkg{
  background: url('../Components/Assets/solid_background.png') no-repeat center center;
  background-size: cover; /* Ensures the background image covers the entire container */
  padding: 200px; /* Adjust padding as needed */
}
